* {
  box-sizing: border-box;
}

#RCheader {
  flex: 1;
  float: left;
  min-width: 400px;
}

#RCpaste {
  float: right;
}

.flex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.RCbutton {
  line-height: 70px;
  display: None;
  min-width: 90px;
  background-color: #e7e7e7;
  color: black;
}
